<section class="content container" id="section">
    <h1 class="content-header">Создание категории расходов</h1>
    <div class="form-group">
        <input type="text" class="form-control my-input-one" id="create-input"
               placeholder="Название..." required>
        <div class="invalid-feedback">Поле не должно быть пустым</div>
    </div>
    <div class="create-buttons">
        <div class="create-button create btn btn-success my-btn" id="create-button">Создать</div>
        <div class="create-button cancel btn btn-danger my-btn"id="create-cancel-button">Отмена</div>
    </div>
</section>
