<section class="content" id="section">
  <h1 class="content-header">Создание дохода/расхода</h1>
  <input type="text" class="form-control my-input-group" placeholder="Тип...">
  <input type="text" class="form-control my-input-group" placeholder="Категория...">
  <input type="text" class="form-control my-input-group" placeholder="Сумма в $...">
  <input type="text" class="form-control my-input-group" placeholder="Дата...">
  <input type="text" class="form-control my-input-group" placeholder="Комментарий...">
  <div class="create-buttons" style="margin-top: 20px">
      <div class="create-button create btn btn-success my-btn">Сохранить</div>
      <div class="create-button cancel btn btn-danger my-btn">Отмена</div>
  </div>
</section>
</div>