<section class="main content content-navbar container" id="section main">
    <h1 class="content-main">Главная</h1>
    <div class="filter row">
        <div class="button col">
            <button type="button" class="filter-button filter-button-active col">Сегодня</button>
        </div>
        <div class="button col">
            <button type="button" class="filter-button col">Неделя</button>
        </div>
        <div class="button col">
            <button type="button" class="filter-button col">Месяц</button>
        </div>
        <div class="button col">
            <button type="button" class="filter-button col">Год</button>
        </div>
        <div class="button col">
            <button type="button" class="filter-button col">Все</button>
        </div>
        <div class="button col">
            <button type="button" class="filter-button col">Интервал</button>
        </div>
        <div class="col d-flex justify-content-center align-items-center date">
            <span>c </span>
            <a href="javascript:void(0)" class="ps-2 text-secondary">Дата</a>
        </div>
        <div class="col d-flex justify-content-center align-items-center date">
            <span>c </span>
            <a href="javascript:void(0)" class="ps-2 text-secondary">Дата</a>
        </div>
    </div>
    <div class="adaptive-filter">
        <div class="nav-link adaptive-filter-button dropdown" data-bs-toggle="dropdown" aria-expanded="false">Выберите фильтр</div>
        <ul class="dropdown-content dropdown-menu">
            <li class="">
                <button type="button" class="dropdown-item rounded-top">Сегодня</button>
            </li>
            <li>
                <button type="button" class="dropdown-item">Неделя</button>
            </li>
            <li>
                <button type="button" class="dropdown-item">Месяц</button>
            </li>
            <li>
                <button type="button" class="dropdown-item">Год</button>
            </li>
            <li>
                <button type="button" class="dropdown-item rounded-bottom">Все</button>
            </li>
        </ul>
        <div class="dates row row-gap-4 mt-3">
            <div class="d-flex justify-content-center align-items-center date col">
                <span>c </span>
                <a href="javascript:void(0)" class="ps-2 text-secondary">Дата</a>
            </div>
            <div class="d-flex justify-content-center align-items-center date col">
                <span>c </span>
                <a href="javascript:void(0)" class="ps-2 text-secondary">Дата</a>
            </div>
        </div>
    </div>
    <div class="main-content d-flex align-items-center row-cols-md-3 row-cols-1 container justify-content-around">
        <div class="diagram d-flex flex-column align-items-center">
            <div class="content-title">Доходы</div>
            <div class="chart">
                <canvas id="myChart1"></canvas>
            </div>
        </div>
        <div class="main-line col"></div>
        <div class="diagram d-flex flex-column align-items-center">
            <div class="content-title">Расходы</div>
            <div class="chart">
                <canvas id="myChart2"></canvas>
            </div>
        </div>
    </div>
</section>